#img3{
    margin-left: 25px;
    height: 30vh;
    width: 20vw;
    border: 2px crimson solid;
   
}

#img4{
    margin-left: 25px;
    height: 30vh;
    width: 30vw;
    border: 2px crimson solid;
   
}

#img1{
    height: 27vh;
   margin-left: 25px;
    border: 2px crimson solid;
}

#img2{
    margin-left: 25px;
   border:  2px crimson solid;
}

