h2{
    font-style: italic;
    font-size: 33px;
    
    color: white;
    margin-top: 70px;
    margin-bottom: 20px;
}

section{
    text-align: center;
}

iframe{
    height: 60vh;
    width: 60vw;
}
u{
    color: white;
}